{% load static %} {% block css%}
<link href="{% static 'css/contact_section.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="contact_section_main">
    <div class="container">
        <div class="contact_section_tag_main">
            <div class="contact_section_dot"></div>
            <p class="contact_section_text">Contact</p>
        </div>
        <h2 class="contact_section_title">Start Your Journey as Ultimate Smile Designer</h2>
        <p class="contact_section_sub_title">Hear from dentists who have integrated Ultimate Smile Design into their practice and experienced remarkable improvements.</p>
    </div>

</div>

{% endblock %}