{% load static %} {% block css%}
<link href="{% static 'css/guide_section.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="guide_section_main">
    <div class="hand_image_mian">
        <img src="{% static 'images/hand_with_tooth.png' %}" alt="hand_image">
    </div>
    <div class="guide_information_main">
        <p class="guide_information_title cool">Guided By</p>
        <h2 class="guide_information_heading">HARESH SAVANI</h2>
        <p class="guide_information_description cool">The Master Behind The Design</p>
    </div>
    <div class="leadership_and_image_main">
        <div class="leadership_image_main">
            <img src="{% static 'images/Mr.Haresh Savani.png' %}" alt="Mr.Haresh Savani" class="img-fluid"> 
        </div>
        <div class="leadership_text_main">
            <h3 class="leadership_text_heading">Leadership Vision</h3>
            <p class="leadership_text_description">“To seamlessly blend cutting-edge technology with uncompromising clinical quality.”</p>
            <p class="leadership_text_description">With extensive industry experience, the leadership at USD is committed to advancing dentistry in an ethical and innovation-driven manner. Under this leadership, Ultimate Smile Design remains focused on empowering dentists with the best practices and setting a new benchmark for excellence in smile design worldwide.</p>
        </div>
    </div>
</div>

{% endblock %}
