{% load static %} {% block css%}
<link href="{% static 'css/review_section.css' %}" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="review_section_main">
    <div class="container">
        <div class="review_section_tag_main">
            <div class="review_section_dot"></div>
            <p class="review_section_text">Reviews</p>
        </div>
        <h2 class="review_section_title">Dentist Testimonials</h2>
        <p class="review_section_sub_title">Hear from dentists who have integrated Ultimate Smile Design into their practice and experienced remarkable improvements.</p>
    </div>

</div>

{% endblock %}