.testimonials_section_main {
  width: 100%;
  height: calc(100vh - 70px);
}

.testimonials_tag_main {
  position: relative;
  width: 130px;
  height: 34px;
  border-radius: 24px;
  overflow: hidden;
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
  margin-top: 90px;
  z-index: 1;
}

.testimonials_tag_main::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 130px;
  height: 130px;
  background: conic-gradient(
    from 0deg,
    rgba(216, 156, 39, 0) 0%,
    rgba(216, 156, 39, 0) 80%,
    #d89c27 92%,
    #dfc86f 96%,
    #d89c27 98%,
    rgba(216, 156, 39, 0.12) 100%
  );
  animation: rotateBorder 3s linear infinite;
  z-index: -2;
}
.testimonials_tag_main::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: #171717;
  border-radius: 24px;
  z-index: -1;
}

@keyframes rotateBorder {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  12.5% {
    transform: translate(-50%, -50%) rotate(60deg);
  }

  25% {
    transform: translate(-50%, -50%) rotate(90deg);
  }

  37.5% {
    transform: translate(-50%, -50%) rotate(120deg);
  }

  50% {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  62.5% {
    transform: translate(-50%, -50%) rotate(240deg);
  }

  75% {
    transform: translate(-50%, -50%) rotate(270deg);
  }

  87.5% {
    transform: translate(-50%, -50%) rotate(300deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.testimonials_dot {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.testimonials_text {
  margin-top: 16px;
  letter-spacing: 1px;
  color: white;
}

.testimonials_title {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-top: 22px;
  background: linear-gradient(
    270deg,
    #be9644 0.01%,
    #aa803c 15.01%,
    #f3dc87 43.01%,
    #fbefac 59.01%,
    #f3dc87 73.01%,
    #aa803c 93.01%,
    #c49d47 100.01%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.testimonials_section_cards_main {
  width: 100%;
  height: 328px;
  margin-top: 120px;
  display: flex;
  justify-content: space-between;
}
.testimonials_section_card {
  width: 307px;
  height: 328px;
  box-shadow: 0px 0px 20.0647px rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(7px);
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.3);
  padding: 17px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonials_section_card_number {
  font-size: 44px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.3);
  line-height: 100%;
}
.testimonials_section_card_details > h3 {
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}
.testimonials_section_card_details > p {
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 26px;
  letter-spacing: 1px;
  margin: 30px 0px 0px 0px;
}

@media (max-width: 1400px) {
  .testimonials_section_cards_main {
    margin-top: 100px;
  }
  .testimonials_section_card {
    width: 262px;
    height: 300px;
  }
  .testimonials_section_card_details > p {
    font-size: 16px;
    line-height: 20px;
  }
  .testimonials_section_card_details > h3 {
    font-size: 18px;
  }
}

@media (max-width: 1285px) and (max-height: 600px) {
  .testimonials_tag_main {
    margin-top: 20px;
  }
  .testimonials_section_cards_main {
    margin-top: 40px;
  }
  .testimonials_title {
    font-size: 22px;
    margin-top: 16px;
  }
}

@media (max-width: 1205px) {
  .testimonials_section_cards_main {
    margin-top: 70px;
  }
  .testimonials_tag_main {
    margin-top: 50px;
  }
  .testimonials_title {
    font-size: 22px;
    margin-top: 16px;
  }
  .testimonials_section_card {
    width: 219px;
    height: 280px;
    padding: 14px;
  }
  .testimonials_section_card_details > p {
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0px 0px 0px;
  }
}

@media (max-width: 993px) {
  .testimonials_section_main {
    width: 100%;
    height: calc(100svh - 70px);
  }
  .testimonials_section_cards_main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 50px;
    margin-top: 60px;
  }
  .testimonials_section_card {
    width: 307px;
    height: 300px;
    margin-right: 30px;
    padding: 24px;
  }
}

@media (max-width: 768px) {
  .testimonials_section_main {
    height: auto;
    padding-bottom: 40px;
  }
  .testimonials_section_cards_main {
    height: auto;
    row-gap: 35px;
    margin-top: 60px;
  }
  .testimonials_section_card {
    margin-right: 0px;
  }
}

@media (max-width: 576px) {
  .testimonials_title {
    font-size: 18px;
    margin-top: 16px;
  }
  .testimonials_section_cards_main {
    margin-top: 30px;
  }
  .testimonials_section_card_details > p {
    font-size: 16px;
  }
}
